@mixin centering {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

@mixin resetButton {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background: unset;
}

@mixin hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin resetNumberInput {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }
}